.pink-bg {
  background-color: pink;
}

.pink-text {
  color: pink;
}

.purple-text {
  color: #750ff7;
}

.description {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.description p {
  width: 60%;
  text-align: center;
}

.desktop {
  text-align: center;
  margin: 80px 0 -5px 0;
}

.skills {
  display: flex; 
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: -30px;
  border-radius: 12px;
  padding: 0 10%;
}

.column {
  border-left: 1px solid #e6ecf8;
  border-right: 1px solid #e6ecf8;
  border-bottom: 1px solid #e6ecf8;
  background-color: #ffffff;
  padding: 60px 35px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5);
}

.column:first-child {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.column:last-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.column ul {
  list-style: none;
  padding: 0;
}

.box {
  width: 25%;
  padding: 30px;
  border: 1px solid #e6ecf8;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5);
}

img {
  max-width: 100%;
}

.projects a {
  color: #750ff7;
}

p {
  padding-left: 15px;
  padding-right: 15px;
}


.description__text {
  color: black;
}

.description__title {
  color: black;
}

.disabled {
  opacity: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.presentation__btn {
  height: 45px;
  width: 160px;
  font-size: 15px;
  color: white;
  border-radius: 10px;
  border: solid 2px white;
  background-color: transparent;
}

.change__skill {
  background-color: pink;
  height: 40px;
  width: 80px;
  font-size: 15px;
  color: white;
  border-radius: 10px;
  border: solid 2px white;
}

.tools__add{
  margin: 2px;
  height: 40px;
  width:160px;
  border-radius: 10px;
}

.btn__change{
  background-color: pink;
  height: 50px;
  width: 50px;
  font-size: 15px;
  color: white;
  border-radius: 10px;
  border: solid 2px white;
}

/*media query*/

@media all and (max-device-width : 699px) {
  .desktop {
    display: none;
  }

  .skills {
    flex-direction: column-reverse;
  }
}

@media all and (min-device-width : 700px) {
  .contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  
.navbar {
  display: flex;
  justify-content: space-between;
}
}