.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  align-items: center;
}

.menu a:first-child {
  margin-left: 20px;
}

.desktop {
  display: none;
}

.pink-bg {
  background-color: #750ff7;
}

.pink-text {
  color: pink;
}

.purple-text {
  color: #750ff7;
}

.description {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.description p {
  width: 60%;
  text-align: center;
}

.desktop {
  margin: 80px 0 -5px 0;
}

.skills {
  margin-top: -30px;
  border-radius: 12px;
  padding: 0 10%;
  display: flex;
  flex-direction: column-reverse;
}

.column {
  border-left: 1px solid #e6ecf8;
  border-right: 1px solid #e6ecf8;
  border-bottom: 1px solid #e6ecf8;
  background-color: #ffffff;
  padding: 60px 35px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5);
}

.column:first-child {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.column:last-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.column ul {
  list-style: none;
  padding: 0;
}

.box {
  width: 25%;
  padding: 30px;
  border: 1px solid #e6ecf8;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5);
}

img {
  max-width: 100%;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects a {
  color: #750ff7;
}

p {
  padding-left: 15px;
  padding-right: 15px;
}

.disabled {
  opacity: 0.4;
}

@media screen and (min-width: 700px) {
  .navbar {
    justify-content: space-between;
  }

  .first-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .desktop {
    display: flex;
    justify-content: center;
  }

  .skills {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .contents {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
  }

  .box {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-width: 20%;
    padding: 25px;
    margin: 20px 0px;
  }
}
